<!DOCTYPE html>
<html>
  <head>
    <title>Terven</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Terven Giovani di Castronno</h1>
      <p>associazione di promozione sociale, culturale, sportiva senza scopo di lucro</p>
    </div>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= home_path %>">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="<%= home_path %>">Home</a></li>
          <li><a href="<%= our_events_path %>">Eventi</a></li>
          <li><a href="<%= who_we_are_path %>">Chi Siamo</a></li>
          <li><a href="<%= contacts_path %>">Contatti</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Amministrazione</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <div class="container-fluid footer navbar-fixed-bottom">
    <nav class="navbar navbar-inverse">
      <p>Footer Text</p>
    </nav>
  </div>

  </body>

</html>
