<!DOCTYPE html>
<html>
  <head>
    <title>Terven</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>

  <div class="center jumbotron">
    <div class="container text-center">
        <h1>Terven Giovani di Castronno</h1>
        <h3>associazione di promozione sociale, culturale, sportiva senza scopo di lucro</h3>

    </div>
  </div>

  <nav class="navbar navbar-inverse no-padding">
    <div class="container">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="<%= home_path %>">Home</a></li>
          <li><a href="<%= our_events_path %>">Eventi</a></li>
          <li><a href="<%= who_we_are_path %>">Chi Siamo</a></li>
          <li><a href="<%= contacts_path %>">Contatti</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= login_path %>"><span class="glyphicon glyphicon-log-in"></span> Amministrazione</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <!--<footer class="container-fluid navbar-fixed-bottom">-->
    <!--<p>TERVEN Giovani di Castronno - associazione di promozione sociale, culturale, sportiva senza scopo di lucro-->
      <!--Via Campo dei Fiori 1 - 21040 Castronno (Varese)    terven.castronno@gmail.com </p>-->
  <!--</footer>-->

  </body>

</html>
